.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altezza per centrare verticalmente */
}

.login-form-container {
  width: 300px; /* Larghezza del form */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
}

.login-form-container button {
  margin-top: 20px;
}

.login-form-container p {
  margin-top: 10px;
  text-align: center;
}
