<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
  <!-- New card for "Gestione Ticket" -->
  <mat-card class="custom-card wide-card light-green-bg">
    <mat-card-header>
      <mat-card-title class="card-subtitle mb-1 text-muted">Gestione Ticket</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="title-text mt-2">
        In questa sezione del programma è possibile visualizzare tutti i ticket aperti.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Existing cards -->
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <!-- Card per Ticket disponibili -->
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title class="card-subtitle mb-1 text-muted">Ticket disponibili:</mat-card-title>
      </mat-card-header>
      <mat-card-content class="d-flex align-items-center justify-content-between">
        <div>
          <p class="ticket-number">5</p>
        </div>
        <mat-icon class="icon-custom text-success">ticket</mat-icon>
      </mat-card-content>
    </mat-card>

    <!-- Card per Ticket presi in carico -->
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title class="card-subtitle mb-1 text-muted">Ticket presi in carico:</mat-card-title>
      </mat-card-header>
      <mat-card-content class="d-flex align-items-center justify-content-between">
        <div>
          <p class="ticket-number">4 / 5</p>
        </div>
        <mat-icon class="icon-custom text-success">suitcase</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
</div>
