.sidenav-container{
  background: #fff !important;
  height: calc(100vh - 4rem);
}

.mat-drawer{
  width:15%;
  min-width: 300px  ;
  margin: 1rem 0 1rem;
  //border: solid 1px #000000;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #fff !important;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}

.sidenav-content-custom{
  margin: 1rem;
  min-height: 90%;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.mat-drawer{
  min-width: 15rem;
}

