<mat-toolbar class="mat-toolbar-custom">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon class="ham-icon" *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon class="ham-icon" *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <div fxLayout="row" fxLayoutAlign="start center">
    <img src="./assets/logo/Logo.png" width="52px" alt="logo">
  </div>
</mat-toolbar>
<mat-sidenav-container class="mat-container-custom" [hasBackdrop]="true" >
  <mat-sidenav #sidenav mode="push">
    <app-sidebar [sidenavOpen]="sidenav.opened" (sidenavToggle)="sidenav.toggle()"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

