body {
  margin: 0;
}

app-toolbar {
  display: block;
  height: 100px;
}

.mat-toolbar-custom {
  justify-content: flex-end;
  height: 4rem !important;
  background-color: #efefefed  !important;;
}

.mat-container-custom {
  height: calc(100vh - 4rem);
}

.main-page-card {
  margin: 1rem;
  border-radius: 12px;
  min-height: 86vh;
}

h2 {
  color: white;
  font-size: 40px;
}

.full-page {
  display: block;
  height: 100%;
}

.sidenav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
//si occupa della transazione e ridimensionamento della router-outlet
.content-open {
  transition: width 0.3s cubic-bezier(0.25, -0.15, 0.13, 1.26);
  overflow: auto;
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px 16px 16px 32px;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
  background-color: #fff;
  padding: 16px;
}

.custom-icon{
  color: #d2c4c4 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sidenav-container{
  background: #fff !important;
  height: calc(100vh - 4rem);
}

.mat-drawer{
  width:15%;
  min-width: 300px  ;
  margin: 1rem 0 1rem;
  //border: solid 1px #000000;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #fff !important;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}

.sidenav-content-custom{
  margin: 1rem;
  min-height: 90%;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.mat-drawer{
  min-width: 15rem;
}

/* footer.component.css */
.footer-container {
  background-color: var(--bg-body-tertiary, #f8f9fa); /* Assuming bg-body-tertiary is a custom CSS variable */
  color: var(--text-muted, #6c757d);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-container .mat-icon-lg {
  font-size: 25px;
  color: #eb132c;
}

.footer-container a {
  text-decoration: none;
  color: inherit;
}

.footer-container a:hover {
  color: #eb132c;
}

.footer-container p {
  margin-bottom: 0.5rem;
}

.footer-container .socials-icon-container a {
  color: #eb132c;
}

.footer-container .mat-divider {
  margin: 0 10rem;
}

.footer-container .text-center p {
  margin: 0;
}

.footer-container .mat-body-1 {
  font-size: 0.875rem;
}

.footer-container .fw-bold {
  font-weight: bold;
}

.footer-container .mat-subheading-2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer-container hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}
