body{
  margin: 0;
}

app-toolbar{
  display:block;
  height: 100px;
}

.mat-toolbar-custom {
  justify-content: space-between;
  height:4rem !important;
  background-color: rgb(38 84 222 / 70%) !important;
}

.mat-container-custom{
  height: calc(100vh - 4rem);
}
.main-page-card{
  margin: 1rem;
  border-radius: 12px;
  min-height: 86vh;
}

h2{
  color: white;
  font-size: 40px;
}

.full-page{
  display: block;
  height: 100%;
}

.sidenav{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
